<a href="https://colab.research.google.com/github/hemang03/movielens_recommendation/blob/master/movielens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('movies.csv')

In [3]:
df1 =pd.read_csv('ratings.csv')

In [4]:
df1.drop('timestamp' , axis= 1 , inplace =True)

In [5]:
len(df1.userId.unique())

610

In [7]:
user_series_df  = pd.pivot_table(df1,index='userId' , columns ='movieId' , values='rating').reset_index(drop =True)

In [8]:
user_series_df.index = df1.userId.unique()

In [10]:
user_series_df.loc[0:5 , 0:15]

movieId   1   2    3   4   5    6   7   8   9   10  11  12  13  14  15
1        4.0 NaN  4.0 NaN NaN  4.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN
2        NaN NaN  NaN NaN NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
3        NaN NaN  NaN NaN NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
4        NaN NaN  NaN NaN NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
5        4.0 NaN  NaN NaN NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [12]:
user_series_df.fillna(0 , inplace=True)

In [13]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine , correlation

In [14]:
user_sim = 1 - pairwise_distances(user_series_df.values,
                                  metric='cosine')

In [15]:
user_sim_df = pd.DataFrame(user_sim)

In [16]:
user_series_df.index = df1.userId.unique()
user_series_df.column = df1.userId.unique()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [17]:
user_series_df

movieId  1       2       3       4       ...  193583  193585  193587  193609
1           4.0     0.0     4.0     0.0  ...     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
5           4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
..          ...     ...     ...     ...  ...     ...     ...     ...     ...
606         2.5     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
607         4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
608         2.5     2.0     2.0     0.0  ...     0.0     0.0     0.0     0.0
609         3.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
610         5.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[610 rows x 9724 columns]

In [18]:
user_series_df.shape

(610, 9724)

In [19]:
np.fill_diagonal(user_sim , 0)

In [20]:
user_series_df.iloc[0:5 , 0:32]

movieId   1    2    3    4    5    6    7   ...   26   27   28   29   30   31   32
1        4.0  0.0  4.0  0.0  0.0  4.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.5  0.0
4        0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  2.0
5        4.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 32 columns]

In [21]:
user_series_df.idxmax(axis=1)

1         47
2      60756
3        849
4        125
5         58
       ...
606      232
607      110
608      296
609       10
610        1
Length: 610, dtype: int64

In [22]:
df.drop('genres' , axis=1 , inplace=True)

In [23]:
df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [31]:
common_movies = df1.merge( df , how='inner' , on='movieId')

In [29]:
common_movies

        userId  movieId  rating                             title
0            1        1     4.0                  Toy Story (1995)
1            5        1     4.0                  Toy Story (1995)
2            7        1     4.5                  Toy Story (1995)
3           15        1     2.5                  Toy Story (1995)
4           17        1     4.5                  Toy Story (1995)
...        ...      ...     ...                               ...
100831     610   160341     2.5                  Bloodmoon (1997)
100832     610   160527     4.5  Sympathy for the Underdog (1971)
100833     610   160836     3.0                     Hazard (2005)
100834     610   163937     3.5                Blair Witch (2016)
100835     610   163981     3.5                         31 (2016)

[100836 rows x 4 columns]

In [34]:
df.columns

Index(['movieId', 'title'], dtype='object')

In [35]:
rating_mat = pd.pivot_table(df1 , index ='movieId' , columns ='userId' , values='rating' ).reset_index(drop = True)

In [36]:
rating_mat.fillna(0 , inplace=True)

In [37]:
movie_sim = 1 - pairwise_distances(rating_mat.values , metric='correlation')

In [38]:
movie_sim_df = pd.DataFrame(movie_sim)

In [39]:
movie_sim_df

          0         1         2     ...      9721      9722      9723
0     1.000000  0.231327  0.173213  ... -0.028906 -0.028906 -0.028906
1     0.231327  1.000000  0.191945  ... -0.018291 -0.018291 -0.018291
2     0.173213  0.191945  1.000000  ... -0.011729 -0.011729 -0.011729
3    -0.028917  0.071269  0.067143  ... -0.004138 -0.004138 -0.004138
4     0.192474  0.200526  0.370171  ... -0.011456 -0.011456 -0.011456
...        ...       ...       ...  ...       ...       ...       ...
9719 -0.028906 -0.018291 -0.011729  ...  1.000000  1.000000 -0.001642
9720 -0.028906 -0.018291 -0.011729  ...  1.000000  1.000000 -0.001642
9721 -0.028906 -0.018291 -0.011729  ...  1.000000  1.000000 -0.001642
9722 -0.028906 -0.018291 -0.011729  ...  1.000000  1.000000 -0.001642
9723 -0.028906 -0.018291 -0.011729  ... -0.001642 -0.001642  1.000000

[9724 rows x 9724 columns]

In [43]:
df.columns

Index(['movieId', 'title'], dtype='object')

In [59]:
movieids= df[df.movieId == 858]

In [50]:
movieids

     movieId                  title
659      858  Godfather, The (1972)

In [73]:
def similar_movies(movieids , topN  =5):
  moiveidx = df[df.movieId ==movieids].index[0]
  df['similarity'] = movie_sim_df.loc[moiveidx]
  top_n=df.sort_values(by =['similarity'],ascending= False)[0:topN]
  return top_n

In [74]:
df[df.movieId == 858]

     movieId                  title  similarity
659      858  Godfather, The (1972)    0.095286

In [75]:
similar_movies(858)

     movieId                       title  similarity
659      858       Godfather, The (1972)    1.000000
921     1220  Blues Brothers, The (1980)    0.769390
913     1212       Third Man, The (1949)    0.560246
895     1192     Paris Is Burning (1990)    0.496048
827     1088        Dirty Dancing (1987)    0.442128

In [76]:
df[df.movieId ==231]

     movieId                                   title  similarity
197      231  Dumb & Dumber (Dumb and Dumber) (1994)    0.095286

In [77]:
similar_movies(231)

     movieId                                   title  similarity
197      231  Dumb & Dumber (Dumb and Dumber) (1994)    1.000000
302      344       Ace Ventura: Pet Detective (1994)    0.582137
138      165       Die Hard: With a Vengeance (1995)    0.465081
291      333                        Tommy Boy (1995)    0.464892
126      153                   Batman Forever (1995)    0.432095